{
  "plugins": [
    ["prismjs", {
      "languages": ["php", "js", "json", "php", "csharp", "java", "html", "css", "shell", "yaml"],
      "plugins": ["line-numbers", "line-highlight"],
      "theme": "tomorrow",
      "css": true
    }]
  ]
}
